@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Code+Pro:wght@400;500&display=swap");

/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */
#logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
  margin-top: 1rem; /**/
}

#logoloco {
  box-shadow: 0 0 6px 3px #fff; /* inner white */
}
#textologo {
  font-size: 2rem;
  margin-left: 4rem;
  position: absolute;
  font-family: "Play", sans-serif;
}
#logo > p {
  font-size: 2rem;
  margin-left: 4rem;
  position: fixed;
  font-family: "Play", sans-serif;
}

.logo-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

#logo:hover {
  color: blueviolet;
}

@media (max-width: 44em) {
  #logo > p {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(202, 40, 49),
    rgb(168, 18, 136)
  );
  opacity: 1;
  /*background: var(--main-red); */
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  font-family: "Courgette", cursive;
}

.nav .navtrans {
  opacity: 0.5;
}

.nav .navtrans:hover {
  opacity: 1;
}

.navlogo {
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 2rem;
  margin-left: 2rem;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
  color: red;
  filter: drop-shadow(8px 8px 10px gray);
}

.dropdown a:hover {
  background: var(--main-blue);
  color: red;
  filter: drop-shadow(8px 8px 10px gray);
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(81, 190, 81);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--main-blue);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  z-index: 0;
}
/*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  background-image: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=1280);
  background-color: rgba(145, 15, 15, 0.973); */

.welcome-section > img {
  filter: blur(5px);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 8px rgba(202, 37, 37, 0.664),
    -5px -8px rgba(42, 104, 155, 0.658);
  font-family: "Gotu", sans-serif;
}

.welcome-section > h1 {
  text-align: center;
  text-shadow: 2px 2px #572626;
  filter: drop-shadow(8px 8px 10px gray);
  font-family: "Josefin Sans", sans-serif;
}

.bars {
  /* color: var(--main-gray); */
  transition: color 0.3s ease-out;
}

.bars:hover {
  color: #ff7f50;
}

/*PRUEBA DE BARRAS*/
.bannerbarras {
  background: #fff;
  content: "";
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 2px;
  width: 40rem;
  margin-bottom: 4rem;
  margin-top: 8rem;
}

.bannerbarrasanimadas {
  height: 14px;
  width: 40rem;
  background-color: red;
  margin-top: 2rem;
  margin-bottom: 3rem;

  border-radius: 20px;

  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: space-between;
}
@keyframes example {
  0% {
    background-color: rgba(221, 63, 150, 0.4);
  }
  25% {
    background-color: rgba(84, 206, 135, 0.4);
  }
  50% {
    background-color: rgba(163, 241, 18, 0.699);
  }
  75% {
    background-color: rgba(10, 153, 236, 0.4);
  }
  100% {
    background-color: rgba(185, 98, 134, 0.4);
  }
}

.bannerbarrasanimadas > p {
  font-family: "Press Start 2P", cursive;
  color: rgba(238, 230, 230, 0.14);
  font-size: 12px;
}

#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#banner h2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
}

#banner h2:before,
#banner h2:after {
  -moz-transition: width 0.85s ease;
  -webkit-transition: width 0.85s ease;
  -ms-transition: width 0.85s ease;
  transition: width 0.85s ease;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

#banner h2:before {
  top: 0;
  left: 0;
}

#banner h2:after {
  bottom: 0;
  right: 0;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-image: linear-gradient(
    #85838307 0%,
    #2031ee11 2%,
    #2031ee8a 25%,
    rgba(230, 100, 101, 0.8) 60%,
    rgba(230, 100, 101, 0.5) 83%,
    rgba(9, 9, 9, 0.3) 95%,
    #85838307 100%
  );
}

.projects-section-header {
  max-width: 640px;
  margin: 1rem auto 16rem auto;
  /*font-family: "Baloo Paaji 2", cursive;
  font-family: "Acme", sans-serif;*/
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 0.2rem solid var(--main-white);

  text-shadow: 2px 2px rgb(122, 65, 94);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-section-subtitle {
  max-width: 640px;
  margin: 1rem auto 16rem auto;
  /*font-family: "Baloo Paaji 2", cursive;
  font-family: "Acme", sans-serif;*/
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 0.2rem solid var(--main-white);

  text-shadow: 2px 2px rgb(122, 65, 94);
}

@media (max-width: 28.75em) {
  .projects-section-subtitle {
    font-size: 4rem;
  }
}

.projects-type {
  height: 44px;
  width: 100%;

  background-image: linear-gradient(#ca3556, #e72121);
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-shadow: 2px 2px hotpink;
  position: relative;
  display: flex;
  justify-content: end;
}

@media (max-width: 28.75em) {
  .projects-type {
    font-size: 4rem;
  }
}
/*
#projects-web {
  background-image: url(https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
*/

.project-img:hover {
  color: blue;
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: relative;
}
.projects-grid:hover > img {
  color: violet;
}

.project:hover {
  /*background: yellow;*/
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: alternate;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  z-index: 1;
  position: relative;
  filter: drop-shadow(4px 4px 3px violet);
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.animacionproyecto {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  z-index: -10000;
  background-color: yellow;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  z-index: -10000;
}

.project-image:hover {
  filter: brightness(120%);
  /*transform: scale(1.1);
  transition: transform 0.3s ease-out;*/
}
/*
.project-tile:hover {
  color: green;
}
.projects {
  background-color: red;
}
*/

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
  border-radius: 10px;
}

.btn-show-all:hover {
  /*background: yellow;*/
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: alternate;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  z-index: 1;
  position: relative;
  filter: drop-shadow(4px 4px 3px violet);
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-show-allvolver {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
  border-radius: 10px;
  text-align: center;
}

.btn-show-allvolver:hover {
  /*background: yellow;*/
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: alternate;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  z-index: 1;
  position: relative;
  filter: drop-shadow(4px 4px 3px violet);
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.btn-show-allvolver:hover > i {
  transform: translateX(0);
}

.btn-show-allvolver > i {
  margin-right: 1.5rem;
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}

#botonvolver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 6rem;
}

/* Contact section 

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

*/

/* CONTACT */
/*
#contactnewsect {
  border-top: 4px solid var(--main-red);
}*/

#contactnewsect h1 {
  font-size: 7rem;
  padding: 3rem 0 1rem 0;
  margin: 1rem auto auto auto;
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 0.2rem solid var(--main-white);
  max-width: 640px;

  text-shadow: 2px 2px #572626;
  filter: drop-shadow(8px 8px 10px gray);
}

@media (max-width: 28.75em) {
  #contactnewsect h1 {
    font-size: 4rem;
  }
}
.contact-details {
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contactnew {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh;
  background: blue; */
  padding: 5rem 3rem 17rem 3rem;
}

.contactnewlist {
  position: relative;
  display: flex;
  width: 100%;

  max-width: 980px;
  margin-top: 4rem;
}

.contactnewelement {
  position: relative;
  list-style: none;
}

.contactnewelement > a {
  display: block;
  width: auto;
  height: auto;

  text-align: center;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: -2px -2px -3px rgba(255, 255, 255, 0.05),
    3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  color: rgb(143, 127, 127);
}

.contactnewelement > a:hover {
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

.contactnewelement > a:hover #linkedin {
  color: #3421df;
  text-shadow: 0 0 15px #3421df;
}

.contactnewelement > a:hover #mail {
  color: #df212b;
  text-shadow: 0 0 15px #df212b;
}
.contactnewelement > a:hover #cv {
  color: #41df21;
  text-shadow: 0 0 15px #41df21;
}

.contactnewelement > a:hover #github {
  color: #c8c5e9;
  text-shadow: 0 0 15px #c8c5e9;
}
.contactnewelement i {
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  size: 3rem;
}

@media (max-width: 50.75em) {
  .contactnewlist {
    flex-direction: column;
    text-align: center;
  }
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  /*background: url(/images/web/webbannerblur.jpg);*/
  background-image: url("images/web/webbannerblur.jpg");
  filter: brightness(110%);
  border-top: 4px solid var(--main-red);
}

footer i {
  vertical-align: middle;
  padding: 0rem 1rem 0rem 1rem;
}

footer > p {
  text-shadow: 2px 2px 1px #1f1f1f;
}

footer a:hover {
  filter: brightness(150%);
  filter: drop-shadow(8px 8px 10px rgba(230, 214, 77, 0.712));
  color: rgba(230, 214, 77, 0.712);
  font-size: 2rem;
  transition: 0.1s ease-in-out;
}

.footerelement {
  margin: 0rem 2rem 0rem 2rem;
  font-size: 2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.footerlist {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;

  flex-wrap: wrap;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

/*PROJECTS*/

#sinlimite {
  background-color: blueviolet;
}

.web-project {
  padding: 5rem;
  margin: 5rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 55.75em) {
  .project-wrapper {
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    text-align: center;
  }
}

.project-wrapper {
  display: flex;
  justify-content: center;

  padding-top: 4rem;
}

.project-title-web {
  padding-bottom: 2rem;
  background-image: url("images/web/webbannerblur.jpg");
  text-shadow: 2px 2px 1px #1f1f1f, 3px 3px 13px green;
  border-radius: 35px;
  font-family: "Poppins", sans-serif;
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.2);
}

.project-text {
  padding-right: 7rem;
  align-self: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.project-img {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.iframe-web {
  padding: 1rem 3rem 4rem 3rem;
}

@media (max-width: 55.75em) {
  .project-text {
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 55.75em) {
  .iframe-web {
    padding: 1rem 0rem 4rem 0rem;
  }
}

@media (max-width: 55.75em) {
  .project-title-web {
    font-size: 2rem;
  }
}

.btn-danger {
  background-color: blue;
  color: white;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
}

.btn-danger:hover {
  filter: brightness(110%);
  transition: 0.3s;
  background-color: rgb(61, 99, 224);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.botonculon {
  text-align: center;
  padding-bottom: 5rem;
}

.btn-info {
  width: 100%;
  background: linear-gradient(#a0dd13, #3177af);
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 50px;
  text-shadow: 2px 2px 2px black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.btn-info:hover {
  filter: brightness(120%);
  background: linear-gradient(45deg, #a0dd13, #3177af);
  background-size: 600% 100%;
  animation: gradientbtnsitio 2s linear infinite;
  animation-direction: alternate;
  transition: ease-in-out;
  box-shadow: 10px 10px rgba(0, 10, 0, 0.1);
}

@keyframes gradientbtnsitio {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.botonsitio {
  padding: 5rem 0rem 1rem 0rem;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*PARA PROYECTOS VER TODOS*/

.proyectos-todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;

  z-index: 0;
}
/*background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  background-image: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=1280);
  background-color: rgba(145, 15, 15, 0.973); */

.proyectos-todos > img {
  filter: blur(5px);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

/*LANGUAGES SECTION*/
.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  filter: brightness(120%);
}

.photo-gridlanghome {
  display: grid;
  gap: 1rem;
  /*padding: 0 5rem 0 5rem; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.cardlang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: #353535;*/
  border: solid rgba(255, 0, 0, 0.596);
  font-size: 4rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardlang:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  filter: brightness(120%);
  /*
  color: #00f3ff;
  text-shadow: 0 0 15px #00f3ff;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;*/

  border: double blue;
  border-radius: 300px;
  background: linear-gradient(
    to right,
    rgba(255, 252, 252, 0) 0%,
    rgba(60, 0, 128, 0.315) 62%,
    rgba(255, 252, 252, 0) 100%
  );
}

.cardlang:hover #javahome {
  color: #35a0f8;
  text-shadow: 0 0 15px #35a0f8;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#javahometitle:hover {
  color: #ff0037;
  text-shadow: 0 0 15px #ff0037;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#javahome {
  font-size: 10rem;
}

.cardlang:hover #jshome {
  color: #f8c435dc;
  text-shadow: 0 0 15px #f8c4356e;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#jshometitle:hover {
  color: #ca5f20;
  text-shadow: 0 0 15px #ca5f20;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#jshome {
  font-size: 9rem;
}

.cardlang:hover #htmlhome {
  color: #eb4444dc;
  text-shadow: 0 0 15px #eb444477;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#htmlhometitle:hover {
  color: #e03ba1;
  text-shadow: 0 0 15px #e03ba1;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#htmlhome {
  font-size: 7rem;
}

.cardlang:hover #csshome {
  color: #4492ebdc;
  text-shadow: 0 0 15px #4492ebdc;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#csshome {
  font-size: 7rem;
}

.cardlang:hover #pythonhome {
  color: #dfee0bdc;
  text-shadow: 0 0 15px #3563f8dc;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#pythonhometitle:hover {
  color: #3b3ee0;
  text-shadow: 0 0 15px #3b3ee0;

  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

#pythonhome {
  font-size: 10rem;
}

.langs-type {
  height: 44px;
  width: 100%;

  background-image: linear-gradient(#ca3556, #e72121);
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 90px;
  text-shadow: 2px 2px hotpink;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 28.75em) {
  .langs-type {
    font-size: 4rem;
  }
}

.linklang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
